<div ng-include="'partials/player.html'"></div>
<section>
<table class="statstable">
	<thead>
		
	</thead>
	<tr>
		<th>
			Batting Average
		</th>
		<th>
			RBIs
		</th>
		<th>
			Home Runs
		</th>
		<th>
			Slugging
		</th>
		<th>
			On Base Pct
		</th>
		<th>
			OPS
		</th>
	</tr>
	<tr>
		<td>
			{{stats.hitting.avg | percentage}}
		</td>
		<td>
			{{stats.hitting.rbi}}
		</td>
		<td>
			{{stats.hitting.onbase.hr}}
		</td>
		<td>
			{{stats.hitting.slg | percentage}}
		</td>
		<td>
			{{stats.hitting.obp | percentage}}
		</td>
		<td>
			{{stats.hitting.ops | percentage}}
		</td>
	</tr>
</table>
</section>
<div ng-include="'partials/footer.html'"></div>
